{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h3>About Page</h3>
        <p style="border-top: 0.05rem solid #a0a4ad;font-size:1.3rem">Hello There! It's Ren here. I wanna explain what this whole thing is. This is a copy of <a href="https://www.youtube.com/playlist?list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH">CoreySchafer's Tutorial on Full Featured Web App.</a> While i have made some slight modifications to the project, like color scheme, code naming style, etc. Overall its structure is still the same as the original. Ummm, that's all i want to say, have a great day!</p>
    </div>
{% endblock %}
{% block sidebar %}
        <div class="col-md-4">
          <div class="content-section">
            <h3>Project Status</h3>
            <p class='text-muted'>Finished</p>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Time Spent: 4 Days</li>
                <li class="list-group-item list-group-item-light">Database 100%</li>
                <li class="list-group-item list-group-item-light">Account 100%</li>
                <li class="list-group-item list-group-item-light">Posts 100%</li>
                <li class="list-group-item list-group-item-light">Error Handler 100%</li>
              </ul>
          </div>
        </div>
{% endblock sidebar %}